.draewer p {
  margin: 0 !important;
}
.draewer h4 {
  font-size: 12px;
}
.flagreply {
  font-size: 11px;
  display: flex;
  color: gray;
}
.flag {
  margin-left: 6px;
  margin-top: 3px;
}
.viweallcon {
  display: flex;
  align-items: center;
}
.subline {
  width: 70px;
  height: 2px;
  background-color: gray;
}
.viewallbtn {
  font-size: 11px;
  color: gray;
  margin-left: 10px;
}
.draewer h6 {
  margin: 0 !important;
}
.commt-input {
  display: flex;
}
.mynewinput {
  display: flex;
}
.subComment {
  margin-left: 100px;
}
.wrapperDrawer {
  position: relative;
}

.custom-success-message {
  background-color: #52c41a; /* Background color for success messages */
  color: #fff; /* Text color for success messages */
  border-radius: 4px; /* Rounded corners for the message box */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow for the message box */
  padding: 10px 15px; /* Padding inside the message box */
  font-weight: bold; /* Font weight for the text */
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* You can style the close button as well */
.custom-success-message .ant-message-close {
  color: #fff; /* Text color for the close button */
  font-weight: bold; /* Font weight for the close button */
}

/* Hover effect for the close button */
.custom-success-message .ant-message-close:hover {
  color: #fff; /* Text color for the close button on hover */
}

.custom-error-message {
  background-color: red; /* Background color for success messages */
  color: #fff; /* Text color for success messages */
  border-radius: 4px; /* Rounded corners for the message box */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow for the message box */
  padding: 10px 15px; /* Padding inside the message box */
  font-weight: bold; /* Font weight for the text */
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* You can style the close button as well */
.custom-error-message .ant-message-close {
  color: #fff; /* Text color for the close button */
  font-weight: bold; /* Font weight for the close button */
}

/* Hover effect for the close button */
.custom-error-message .ant-message-close:hover {
  color: #fff; /* Text color for the close button on hover */
}
.comment-firstname {
  font-size: 14px;
  color: #006747;
}
.mynewinput {
  margin: 10px 0px 10px 0px;
}
.commt-input {
  margin-top: 6px;
}
#btnclor {
  background-color: #006747 !important;
  color: white !important;
}
