.tableBody {
  width: 100%;
}
.thead {
  width: 100%;
}
.tbody {
  width: 100%;
}
.tableBody td {
  padding: 10px;
}
/* Define the table body */
.tableBody {
  width: 100%;
  background-color: #006747;
  color: white;
}

/* Style table headers */
.tableBody th {
  background-color: #005037; /* A slightly darker shade of green */
  padding: 10px;
  text-align: left;
}

/* Style table rows */
.tableBody td {
  padding: 10px;
  border: 1px solid #005037; /* A slightly darker shade of green */
}

/* Style the first column (index column) */
.tableBody td.p-2 {
  background-color: #005037; /* A slightly darker shade of green */
}

/* Style the date columns to have a white background */
.tableBody td[style*="whiteSpace: nowrap"] {
  background-color: white;
  color: #006747; /* Set the text color to the theme color */
}
