.text-center-mt-12 {
}
.font-weight-medium {
  /* border: solid 1px; */
  text-align: center;
  margin-bottom: 25px;
  font: 16px;
}
.formDiv1 {
  width: 500px;
  height: 370px;
  /* border:solid ;   */
  display: flex;
  justify-content: center;
  /* margin-left:30%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  align-items: center;
  padding-top: 2%;
}
.form-label {
  /* border: solid 1px black; */
  margin-top: 2px;
}
.formDiv2 {
  /* border: solid; */
  width: 500px;
  margin-left: 7%;
  margin-top: 1%;
  border-radius: 20px;
}
.form-control {
  width: 430px !important;
  border-radius: 40px;
  border: solid;
}

.form-outline {
  /* border: solid; */
  width: 420px;
  margin-right: 10%;
}
.form-check-label {
  /* margin-top: 6px; */
  /* border: solid; */
}
.form-check-input {
  /* margin-top: 6px; */
  /* border: solid; */
}
#logIn {
  width: 85% !important;
  margin-left: 0px;
  height: 45px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 20px;
}
.register {
  cursor: pointer;
  color: #007bff;
  margin-right: 110px;
  text-decoration: none;
}
.forpass {
  padding-left: 125px;
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}
.form2Example1 {
  border-radius: 5%;
}
.mainDiv {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  /* margin-left: 48%;  */
  /* margin-top: 3%; */
  /* margin-bottom: 3%; */
  /* padding-left: 400px; */
}
.input {
  border-radius: 40px;
}
