.profileDiv1 {
  justify-content: center;
  display: flex;
  align-items: center;
  /* border: solid; */
  flex-direction: column;
  column-gap: 2%;
  row-gap: 2%;
}
.profileDiv2 {
  justify-content: center;
  display: flex;
  align-items: center;
  /* border: solid; */
  width: 100%;
}
.profileDiv3 {
  justify-content: left;
  display: flex;
  align-items: center;
  width: 90%;
  /* border: solid; */
  margin-top: 2%;
}
.profileDiv4 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /* border: solid; */
  margin-top: 2%;
}
.profileDiv5 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
  border: 3px solid #3498db;
}
.profileDiv6 {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  /* border: solid; */
  width: 90%;
  text-align: center;
}
.profileDiv7 {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
}
.profileDiv8 {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  padding: "20px";
}
.profileDiv8 table{
    padding:"10px"
}
.AlignItems {
  text-align: left;
}

.AlignUserName {
  text-align: "center";
  margin-bottom: "15px";
}

.userInfo {
  margin: "0 auto";
  width: "fit-content";
}
