.div2 {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px 0px;
}
.div3 {
  width: 80%;
  align-items: center;
  justify-content: center;
}

.form-outline1 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.h3 {
  align-items: center;
  font-weight: bold;
}

.datePicker {
  width: 480%;
  justify-self: stretch;
  align-self: stretch;
}

.form-control {
  width: 100% !important;
}

.NavbarLogout {
  /* height: 100px; */
  box-shadow: 0 2px 4px rgba(0.2, 0, 0, 0.4);
}
.projectFormDiv1 {
  display: flex;
  flex-direction: column;
}
#LogIn {
  width: 100% !important;
  background-color: #006747;
  margin-top: 2%;
  margin-bottom: 2%;
}

#LogIn:hover {
  background-color: black;
  color: white;
}

.date-wrap {
  position: relative;
}
.custom-placeHolder {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 100px;
  height: 25px;
  background-color: white !important;
}
.wrap-con {
  position: relative;
}
.fileupload{
  display: inline-block;
  background-color: #006747;
  color: white;
padding: 5px 20px;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 30px;
}