
.mycustomtab{
    background-color: #f5f5f5 !important;
    font-weight: bold;
    margin: 25px 150px !important;

}
.mycustomtab li button {
    color: #006747 !important;
    padding: 3px 10px !important; 
}

.nav-item .nav-link.active{
    border-radius: 1px solid #dee2e6 !important;
    background-color: #006747 !important;
    color: white !important;
}
.sort-con img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 10px 15px 0px 0px;
}
.truncate-cell {
    max-width: 250px; /* Set the maximum width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }