/* Request.css */
.request-container {
  display: flex;
  min-height: calc(100vh - 100px);
}

.left-navigation {
 
  width: 200px!important;
  background-color: #f4f4f4;
 padding: 20px;
  border-right: 1px solid #ddd;
}

.left-navigation h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.left-navigation ul {
  list-style: none;
  padding: 0;
}

.left-navigation li {
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
}

.main-content {
  flex: 3;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.main-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.main-content p {
  font-size: 16px;
  margin-bottom: 8px;
}

.main-content table {
  width: 100%;
  border-collapse: collapse;
}

.main-content th {
  background-color: #006747;
  color: white;
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

.main-content td {
  font-size: 16px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.main-content a {
  font-size: 16px;
  color: #006747;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.main-content a:hover {
  text-decoration: underline;
}
