/* view-project.css */

.view-project-container {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin: 0 auto;
  text-align: left;
}
.view-project-prent {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006747;
}
.view-project-prentmin{
  min-height: calc(100vh - 100px);
}
h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #006747;
}

p {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.5;
  color: #555;
}

strong {
  font-weight: bold;
}

a {
  color: #007BFF;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
.project-text-wrap{
  display: flex;
  justify-content: space-between;
}
.flag-flex{
  display: flex;
  justify-content: space-between;
}
.flag-flexNew{
  display: flex;
  justify-content: center;
}
.flag-flexNew span{
  margin-top: 13px;
}