.div2 {
  /* width: 100%; */
  /* box-shadow: 5%;s */
  /* border: solid red;s */
  /* height:20%; */
  /* box-shadow: inset; */
}

.div3 {
  width: 20%;
  align-items: flex-start;
  justify-content: flex-start;
}

.div6:hover {
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}

.div6 {
  background-color: #006747;
  color: aliceblue;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  background-color: black;
}

.navbarCss {
  box-shadow: 0 2px 4px rgba(0.2, 0, 0, 0.4);
}

.dashboardBody {
  padding: 60px 80px;
  min-height: 88vh;
}

.my-card {
  width: 350px;
  padding: 15px;
  border: 1px solid rgb(204, 196, 196);
  border-radius: 6px;
  margin-top: 2%;
}

.div6 {
  width: 247px;
  border: none;
  border-radius: 3px;
  padding: 10px 5px;
  transition: ease-in-out;
}

.mycard-con {
  display: flex;

  flex-wrap: wrap;
  text-align: left;
  column-gap: 2%;
}

.newsearch input {
  border: 1px solid rgb(192, 190, 190) !important;
  width: 100%;
  border-radius: 4px;
  padding: 8px 12px;
}

.newparent {
  width: 100%;
}

.newcard {
  border: 1px solid rgb(192, 190, 190) !important;
  border-radius: 4px;
  margin: 30px 0px;
}

.newparent {
  padding: 20px 80px;
}

.newbutton {

  border-radius: 3px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  width: 15%;
  height: 50px;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.newbutton:hover {
  background-position: left bottom;
}
.cmt-btn-wrap{
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 15px 15px
}
.text {
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  color: white;
  background-color: #006747;
  transition: all 0.6s ease-out;
  display: block;
  font-weight: bold;
  border-left: 5px solid black;
}

.text:hover {
  color: white;
  background-color: transparent;
}
.newcard h4 {
  margin-bottom: 15px;
}
.newcardnew{
  display: flex;
}